            <ul class="list-unstyled">
              <li>
                <a href="https://github.com/">
                  GitHub
                </a>
              </li>
              <li>
                <a href="http://www.mopiaoyao.com/">
                  殁漂遥
                </a>
              </li>
              <li>
                <a href="http://www.ttrar.com/">
                  天天资讯
                </a>
              </li>
              <li>
                <a href="http://www.appinn.com/">
                  小众软件
                </a>
              </li>
              <li>
                <a href="http://www.zdfans.com/">
                  ZD423
                </a>
              </li>
              <li>
                <a href="http://www.iplaysoft.com/">
                  异次元
                </a>
              </li>
              <li>
                <a href="http://www.matrix67.com/blog/">
                  Matrix67
                </a>
              </li>
              <li>
                <a href="http://www.artofproblemsolving.com/Forum/resources.php">
                  Art of Problem Solving
                </a>
              </li>
              <li>
                <a href="http://www.xueersi.com/">
                  学而思网校
                </a>
              </li>
            </ul>