<!DOCTYPE html>
<html>
<head>
<meta charset='utf-8'>
<meta http-equiv="X-UA-Compatible" content="chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link rel="stylesheet" type="text/css" href="http://22dm.github.io/stylesheets/stylesheet.css" media="screen" />
<link rel="stylesheet" type="text/css" href="http://22dm.github.io/stylesheets/pygment_trac.css" media="screen" />
<link rel="stylesheet" type="text/css" href="http://22dm.github.io/stylesheets/print.css" media="print" />
<script type="text/javascript" src="http://22dm.github.io/MathJax/MathJax.js?config=default"></script>
<style type="text/css">
p {
	margin: 0
}
p {
	text-indent: 2em;
}
</style>
<!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

<title>{{ page.title }} by lhy</title>
</head>
<body>
<header>
  <div class="inner">
    <h1><a href="http://22dm.github.io"><font color=#ffffff>{{ page.title }}</font></a></h1>
    <a href="https://github.com/22dm" class="button"><small>Follow me on</small>GitHub</a> </div>
</header>
<div id="content-wrapper">
<div class="inner clearfix">
<section id="main-content">
<h2>{{ page.title }}</h2>
{{ content }}
<p align="right">{{ page.date | date_to_string }}</p>
<p align="right"><a href="http://22dm.github.io" >回到首页</a></p>
<div id="disqus_thread"></div>
<script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = '22dm'; // required: replace example with your forum shortname

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
<noscript>
Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a>
</noscript>
<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
</section>

<aside id="sidebar"> WolframAlpha
  <form action="http://www.wolframalpha.com/input/" type="get" target="_blank">
    <input id="searchWolf" type="text" class="board-search-txt" name="i">
    <input type="submit" value="Search" class="board-search-bt">
  </form>
  Wikipedia
  <form action="http://zh.wikipedia.org/w/index.php" type="get" target="_blank">
    <input id="searchWiki" type="text" class="board-search-txt" name="search">
    <input type="submit" value="Search" class="board-search-bt">
  </form>
</aside>
</div>
</div>
</body>
</html>